//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';



html{
  @include font;
  background-color: $background-color-3;
}

body{
  @include flex(center, center, column);
  @include size(100vh, 100%);
}

h5, h4{ font:$h3-alt;
font-weight: 500; }

span{color:$green-1;}


a{
  opacity: 0;
  @include link;
  @include transition(opacity);
  font-weight: 400;
}


.super-map{
  @include size('auto', '50%');
  @include transition(box-shadow);
  background-color: $white;
  max-width: 500px;
  min-width: 500px;

  border-radius: 4px;
  &:hover{
    @include shadow;
    a{
      opacity: 1;
      transition: none;
    }
  }
}

.mapheader{
  @include flex(center, space-between,'');
  @include size(40px, auto);
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
}

.container{
  @include flex(center, '', '');
  @include size(314px, 100%);
  position: relative;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  @include shadow;
}

.marker {
  @include hover('',$blue-1);
  @include size(10px, 10px);
  display: none;
  background-color:#36D068;
  border-radius: 20px;
  border: 1.5px solid $white;
}

.map {
  @include size(100%, 100%)
  display: flex;
  flex-grow: 1;
  z-index: 1;
  border-radius: 0 0 4px 4px;
}

.mapboxgl-ctrl{
  display: none;
  opacity: 0;
}


//sidebar
.sidebar{
  @include transition(width);
  @include size(100%, 0);
  background-color: $white;
  border-top: 1px solid $border-color-3;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}



.back{
  @include arrow;
  @include hover($blue-2);
  @include size(40px, 220px);
  color: $blue-1;
  display: block;
  padding: 0 35px;
  border-bottom: 1px solid $border-color-3;
  overflow-x: hidden;
  font: 400 14px/40px 'nutanix_soft', sans-serif;
  &:hover{
  }
  &:before, &:after{
  top: 15px;
  left:23px;
  opacity: 1;
  }

  &:after{ top:15px + 3.5px; }
}

.cluster{
  @include size(auto, 220px);
  @include hover($blue-1);
  border-bottom: 1px solid $border-color-3;
  overflow-x: hidden;
  padding:0 20px;
  h4, h4 span{
    margin-top: 20px;
    margin-bottom:15px;
  }
  .alt{
    padding-left: 15px;
    font: $p-alt;
    margin-bottom:20px;
  }
}


//anex to cluster view
.anex{
  color: $font-color-1;
  margin-top: -5px;
  display: none;
  margin-bottom: 10px;
}

.line{
  @include flex(center, space-between, '');
  padding: 0 13px 5px 15px ;
  margin-bottom: 0;
  line-height: 10px;
  color:#627386;
  p{
    margin: 5px 0;
    // &:first-child{color:#627386;}
    // &:last-child{font-weight: 400;}
  }
}


//classes for javascript
.main{
  @extend .marker;
  display: block;
  opacity: 1;
  border-radius: 20px;
  background-color: $background-color-2;
  &:last-of-type{
    opacity: 0.3;
  }
  &:hover{
  background-color: $background-color-1;
  }
}
.visible{opacity: 1;}
.expanded{width: 400px;}
.selected{background: $blue-1;}

//media queries
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 2)
{
  .super-map {
    max-width: 90%;
    min-width: 90%;
  }

}
