//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html{
  @include font;
  background-color: $background-color-3;
}

body{
  @include flex(center, center, column);
  @include size(100vh, 100%);
}

h5, h4{ font:$h3-alt; }

span{color:$green-1;}

a{
  opacity: 0;
  @include link;
  @include transition(opacity);
  font-weight: 400;
}

.super-map{
  @include size('auto', 485px);
  @include transition(box-shadow);
  background-color: $white;
  border-radius: 4px;
  &:hover{
    @include shadow;
    a{
      opacity: 1;
      transition: none;
    }
  }
}

.mapheader{
  @include flex(center, space-between,'');
  @include size(40px, auto);
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
}

.container{
  @include flex(center, '', '');
  @include size(314px, 485px);
  position: relative;
  background-color: $background-color-2;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.sidebar{
  @include transition(width);
  @include size(100%, 0);
  background-color: $white;
  border-top: 1px solid $border-color-3;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cluster{
  @include size(auto, 220px);
  @include hover($blue-1);
  border-bottom: 1px solid $border-color-3;
  overflow-x: hidden;
  padding: 5px 15px;
}

.alt{
  padding-left: 19px;
  font: $p-alt;
}

.mapboxgl-ctrl{
  display: none;
  opacity: 0;
}

.map {
  @include size(100%, 100%)
  display: flex;
  flex-grow: 1;
  z-index: 1;
  border-radius: 0 0 4px 4px;
}


.marker {
  @include hover('',$blue-1);
  @include size(10px, 10px);
  display: none;
  background-color:#36D068;
  border-radius: 20px;
  border: 1.5px solid $white;
}

.back{
  @include arrow;
  @include hover($blue-1);
  @include size(42px, 220px);
  color: $blue-1;
  display: block;
  padding: 0 34px;
  border-bottom: 1px solid $border-color-3;
  overflow-x: hidden;
  font: 400 14px/40px 'nutanix_soft', sans-serif;

  &:before, &:after{
  top: 15px;
  left:17.5px;
  opacity: 1;
  }

  &:after{ top:15px + 3.5px; }
}



//classes for javascript

.visible{ opacity: 1; }

.anex{
  color: $font-color-1;
  margin-top: 20px;
  display: none;
  padding-bottom: 20px;
}

.line{
  @include flex(center, space-between, '');
  padding: 0 20px;
  margin-bottom: 0;
  line-height: 10px;
}

.line p{
  margin-bottom: 0;
  margin-top: 5px;
}
.line p:first-child{
  color:#627386;
  margin-bottom: 5px;
}

.line p:last-child{
  color:#22272E;
  margin-bottom: 5px;
  font-weight: 400;
}
